/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .image {
        display: none;
    }
    .header {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .header {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}

.container {
    align-self: center;
}
button {
    padding: 16px;
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 4px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #8a4c00;
}

menu {
    display: flex;
    justify-content: space-around;
}

h1 {
    font-size: 60px;
}